<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/catship.css" />
    <title>Catship</title>
    <meta name="keywords" content="Catship Indie Game" />
    <meta name="description" content="Catship is an indie game about a few regular dudes who happen to be cats who embarked on an action packed quest. Set in ancient egypt, prepare yourself for a fun rollercoaster adventure.">

    <script src="src/phaser.min.js"></script>
    <script src="src/jquery-1.11.1.min.js"></script>
    <script src="src/jsrsasign-latest-all-min.js"></script>
    <script src="src/angular.min.js"></script>

    <script src="src/crypto.js"></script>
    <script src="src/variables.js"></script>
    <script src="src/boot.js"></script>
    <script src="src/preload.js"></script>
    <script src="src/gametitle.js"></script>
    <script src="src/thegame.js"></script>
    <script src="src/gameover.js"></script>

    <script>

        (function() {
            var game = new Phaser.Game(800, 680, Phaser.CANVAS, "game");
            game.state.add("Boot", boot);
            game.state.add("Preload", preload);
            game.state.add("GameTitle", gameTitle);
            game.state.add("TheGame", theGame);
            game.state.add("GameOver", gameOver);
            game.state.start("Boot");
        })();

    </script>
</head>

<body>

    <div id="game">
        <!--a href="crypto.html">Wallet</a-->
        <!--scroll down for wallet-->
    </div>

    <div ng-app="myApp" ng-controller="formCtrl">
        <form novalidate>
            <div id="wallet">
                <h2>WALLET</h2> Private Key:
                <br> (Keep this secret and write it down somewhere for safe keeping)
                <br>
                <br>
                <input type="text" width: 250px; ng-model="user.PrvKey">
                <br>
                <br> Public Key:
                <br> (This is also your wallet address so you can share it with people and let them send you coins to this address)
                <br>
                <br>
                <input type="text" ng-model="user.PubKey">
                <br>
                <p> Current Balance: {{master.Balance | number : 9}}</p>
                <br>
            </div>
            <br>
            <div id="send">
                <h2>MAKE PAYMENT</h2> Pay to:
                <br> (insert someones public key / wallet address here)
                <br>
                <br>
                <input type="text" ng-model="user.ReceieverPubKey">
                <br>
                <br> Amount:
                <br> (must be smaller then your balance but greater then 0)
                <br>
                <br>
                <input type="text" ng-model="user.Amount">
                <br>
                <br> Message:
                <br> (you can attach a cool message to your payment to be stored in the catShipBlockChain for eternity!)
                <br>
                <br>
                <input type="text" ng-model="user.Message">
                <br>
                <br>
                <button ng-click="sendPayment()">SEND PAYMENT</button>
                <br>
                <p> Status: {{master.TransactionStatus}}
                    <p>
            </div>
            <br>
            <div id="mine">
                <h2>MINE COINS</h2>
                <button ng-click="mineCoins()">MINE CATSHIP COINS!</button>
                <br>
                <p> Current Score Total: {{master.ScoreBalance}}</p>
                <p> Current Difficulty: {{master.Difficulty}}</p>
                <p> Remaining Score Required To Mine A Block: {{master.ScoreRemaining}}</p>
                <p> Status: {{master.MiningStatus}}
                    <p>
            </div>
            <br>
            <div id="trans">
                <h2>PREVIOUS TRANSACTIONS</h2>
                <br>
                <table>
                    <thead fix-head>
                        <tr>
                            <th>BLOCK</th>
                            <th>DATE</th>
                            <th>TRANSACTION ID</th>
                            <th>SENDER ADDRESS</th>
                            <th>RECEIVER ADDRESS</th>
                            <th>VALUE</th>
                            <th>MESSAGE</th>
                            <th>SIGNATURE</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="x in names track by $index">
                        <td>{{ x.blockHeight }}</td>
                        <td>{{ x.utcTimeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                        <td>{{ x.transactionID }}</td>
                        <td>{{ x.senderAddress }}</td>
                        <td>{{ x.receiverAddress }}</td>
                        <td>{{ (x.senderAddress==user.PubKey) ? -1*x.value : x.value | number:9 }}</td>
                        <td>{{ x.message }}</td>
                        <td>{{ x.signature }}</td>
                    </tr>
                </table>
                <br>
                <br>
            </div>
            <br>
            <br>
            <div id="search">
                <h2>SEARCH CATSHIP CHAIN</h2> Enter Block Height To View:
                <br> (insert a number here to view that block of the blockchain)
                <br>
                <br>
                <input type="text" ng-model="user.BlockHeight">
                <br>
                <br>
                <button ng-click="searchBlock()">SEARCH</button>
                <br>
                <p> Result:
                    <br>
                    <code>
                <pre>{{SearchedBlock |json}}</pre>
                </code>
                    <p>
            </div>
            <br>
            <br>
            <br>
    </div>
    <!--<div id = "left">
    <div id="filelist"><a href="http://localhost/catship/?file=nsf/catship1.nsf&subtune=0"></a><br></div>
    <div id="metadata">Loaded: catship (<a href="http://localhost/catship/nsf/?file=nsf/catship1.nsf&subtune=2">next</a> / <a href="http://localhost/catship/nsf/?file=nsf/megaman2.nsf&subtune=0">prev</a>)</div>
    </div>-->
    <div id="orientation"></div>
    <div class="fontPreload" style="font-family: 'Avalon';opacity:0;position:fixed">.</div>
</body>

</html>